
<h2 align="center">POST </h2>
<div *ngFor="let prod of products;" align="center"> 
    <h3>
      <a href="">{{prod.name}}</a>
    </h3>
    <img src="{{prod.img}}" alt="" width=300 height="400">

    <p><b>Sinopsis:</b></p>
    <p>{{prod.description}} </p>
    
    <p>Votes: </p>
    <div style="display: inline-block; width: 20px;" *ngFor="let i of prod.rank">
        <i class="material-icons" style="color: chartreuse">star_rate</i>
    </div>
    <!--  -->
    <br><button >Share</button> <hr>
</div>
